# Project 1: Explanatory Data Analysis & Data Presentation (Movies Dataset)

# Project Brief for Self-Coders

Here you´ll have the opportunity to code major parts of Project 1 on your own. If you need any help or inspiration, have a look at the Videos or the Jupyter Notebook with the full code. <br> <br>
Keep in mind that it´s all about __getting the right results/conclusions__. It´s not about finding the identical code. Things can be coded in many different ways. Even if you come to the same conclusions, it´s very unlikely that we have the very same code.

## Data Import and first Inspection

1. __Import__ the movies dataset from the CSV file "movies_complete.csv". __Inspect__ the data.

__Some additional information on Features/Columns__:

* **id:** The ID of the movie (clear/unique identifier).
* **title:** The Official Title of the movie.
* **tagline:** The tagline of the movie.
* **release_date:** Theatrical Release Date of the movie.
* **genres:** Genres associated with the movie.
* **belongs_to_collection:** Gives information on the movie series/franchise the particular film belongs to.
* **original_language:** The language in which the movie was originally shot in.
* **budget_musd:** The budget of the movie in million dollars.
* **revenue_musd:** The total revenue of the movie in million dollars.
* **production_companies:** Production companies involved with the making of the movie.
* **production_countries:** Countries where the movie was shot/produced in.
* **vote_count:** The number of votes by users, as counted by TMDB.
* **vote_average:** The average rating of the movie.
* **popularity:** The Popularity Score assigned by TMDB.
* **runtime:** The runtime of the movie in minutes.
* **overview:** A brief blurb of the movie.
* **spoken_languages:** Spoken languages in the film.
* **poster_path:** The URL of the poster image.
* **cast:** (Main) Actors appearing in the movie.
* **cast_size:** number of Actors appearing in the movie.
* **director:** Director of the movie.
* **crew_size:** Size of the film crew (incl. director, excl. actors).

In [1]:
import pandas as pd
movies_df = pd.read_csv("movies_complete.csv")
movies_df.head()

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,...,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,...,7.7,21.946943,81.0,"Led by Woody, Andy's toys live happily in his ...",English,<img src='http://image.tmdb.org/t/p/w185//uXDf...,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter
1,8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,65.0,262.797249,TriStar Pictures|Teitler Film|Interscope Commu...,...,6.9,17.015539,104.0,When siblings Judy and Peter discover an encha...,English|Français,<img src='http://image.tmdb.org/t/p/w185//vgpX...,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,26,16,Joe Johnston
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,...,6.5,11.712900,101.0,A family wedding reignites the ancient feud be...,English,<img src='http://image.tmdb.org/t/p/w185//1FSX...,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...,7,4,Howard Deutch
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,1995-12-22,Comedy|Drama|Romance,NaN,en,16.0,81.452156,Twentieth Century Fox Film Corporation,...,6.1,3.859495,127.0,"Cheated on, mistreated and stepped on, the wom...",English,<img src='http://image.tmdb.org/t/p/w185//4wjG...,Whitney Houston|Angela Bassett|Loretta Devine|...,10,10,Forest Whitaker
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,1995-02-10,Comedy,Father of the Bride Collection,en,NaN,76.578911,Sandollar Productions|Touchstone Pictures,...,5.7,8.387519,106.0,Just when George Banks has recovered from his ...,English,<img src='http://image.tmdb.org/t/p/w185//lf9R...,Steve Martin|Diane Keaton|Martin Short|Kimberl...,12,7,Charles Shyer

In [2]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44691 entries, 0 to 44690
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     44691 non-null  int64
 1   title                  44691 non-null  object
 2   tagline                20284 non-null  object
 3   release_date           44657 non-null  object
 4   genres                 42586 non-null  object
 5   belongs_to_collection  4463 non-null   object
 6   original_language      44681 non-null  object
 7   budget_musd            8854 non-null   float64
 8   revenue_musd           7385 non-null   float64
 9   production_companies   33356 non-null  object
 10  production_countries   38835 non-null  object
 11  vote_count             44691 non-null  float64
 12  vote_average           42077 non-null  float64
 13  popularity             44691 non-null  float64
 14  runtime                43179 non-null  float64
 15  overview               43740 non-null  object
 16  spoken_languages       41094 non-null  object
 17  poster_path            44467 non-null  object
 18  cast                   42502 non-null  object
 19  cast_size              44691 non-null  int64
 20  crew_size              44691 non-null  int64
 21  director               43960 non-null  object
dtypes: float64(6), int64(3), object(13)
memory usage: 7.5+ MB

In [3]:
movies_df.describe()

,id,budget_musd,revenue_musd,vote_count,vote_average,popularity,runtime,cast_size,crew_size
count,44691.000000,8854.000000,7385.000000,44691.000000,42077.000000,44691.000000,43179.000000,44691.000000,44691.000000
mean,107186.242845,21.669886,68.968649,111.653778,6.003341,2.957460,97.566850,12.479090,10.313643
std,111806.362236,34.359837,146.608966,495.322313,1.281060,6.040008,34.653409,12.124663,15.892154
min,2.000000,0.000001,0.000001,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,26033.500000,2.000000,2.405420,3.000000,5.300000,0.402038,86.000000,6.000000,2.000000
50%,59110.000000,8.200000,16.872671,10.000000,6.100000,1.150055,95.000000,10.000000,6.000000
75%,154251.000000,25.000000,67.642693,35.000000,6.800000,3.768882,107.000000,15.000000,12.000000
max,469172.000000,380.000000,2787.965087,14075.000000,10.000000,547.488298,1256.000000,313.000000,435.000000

## The best and the worst movies...

2. __Filter__ the Dataset and __find the best/worst n Movies__ with the

- Highest Revenue
- Highest Budget
- Highest Profit (=Revenue - Budget)
- Lowest Profit (=Revenue - Budget)
- Highest Return on Investment (=Revenue / Budget) (only movies with Budget >= 10) 
- Lowest Return on Investment (=Revenue / Budget) (only movies with Budget >= 10)
- Highest number of Votes
- Highest Rating (only movies with 10 or more Ratings)
- Lowest Rating (only movies with 10 or more Ratings)
- Highest Popularity

__Define__ an appropriate __user-defined function__ to reuse code.

In [4]:
movies_df['revenue_musd'].sort_values(ascending=False, ignore_index=True).head()

0    2787.965087
1    2068.223624
2    1845.034188
3    1519.557910
4    1513.528810
Name: revenue_musd, dtype: float64

In [5]:
# Méthode1
"""
def highest_Values(column_name):
    return movies_df.nlargest(5, column_name)
"""
def highest_Values(column_name):
    """
        return the highest value 
        of the specified column
    """
    return movies_df[column_name].sort_values(ascending=False, ignore_index=True).head()

In [6]:
"""def highest_test_Values(column_name):
    return movies_df.loc[column_name]['title'].sort_values(ascending=False, ignore_index=True).head() 
    #return movies_df[column_name].sort_values(ascending=False, ignore_index=True).head() """

"def highest_test_Values(column_name):\n    return movies_df.loc[column_name]['title'].sort_values(ascending=False, ignore_index=True).head() \n    #return movies_df[column_name].sort_values(ascending=False, ignore_index=True).head() "

In [7]:
def lowest_Values(column_name):
    """
        return the highest value 
        of the specified column
    """
    return movies_df[column_name].sort_values(ignore_index=True).head()

__Movies Top 5 - Highest Revenue__

In [8]:
highest_Values('revenue_musd')

0    2787.965087
1    2068.223624
2    1845.034188
3    1519.557910
4    1513.528810
Name: revenue_musd, dtype: float64

In [9]:
#highest_test_Values('revenue_musd')

__Movies Top 5 - Highest Budget__

In [10]:
highest_Values('budget_musd')

0    380.0
1    300.0
2    280.0
3    270.0
4    260.0
Name: budget_musd, dtype: float64

__Movies Top 5 - Highest Profit__

In [11]:
movies_df['profit_musd'] = movies_df['revenue_musd'] - movies_df['budget_musd']
movies_df['profit_musd']

0        343.554033
1        197.797249
2               NaN
3         65.452156
4               NaN
            ...
44686           NaN
44687           NaN
44688           NaN
44689           NaN
44690           NaN
Name: profit_musd, Length: 44691, dtype: float64

In [12]:
highest_Values('profit_musd')

0    2550.965087
1    1823.223624
2    1645.034188
3    1363.528810
4    1316.249360
Name: profit_musd, dtype: float64

__Movies Top 5 - Lowest Profit__

In [13]:
lowest_Values('profit_musd')

0   -165.710090
1   -119.180039
2   -111.007242
3   -107.447384
4    -98.301101
Name: profit_musd, dtype: float64

__Movies Top 5 - Highest ROI__

In [14]:
movies_df['roi_musd'] = movies_df['revenue_musd'] / movies_df['budget_musd']

In [15]:
highest_Values('roi_musd')

0    1.239638e+07
1    8.500000e+06
2    4.197477e+06
3    2.755584e+06
4    1.018619e+06
Name: roi_musd, dtype: float64

__Movies Top 5 - Lowest ROI__

In [16]:
lowest_Values('roi_musd')

0    5.217391e-07
1    7.500000e-07
2    9.375000e-07
3    1.499133e-06
4    1.800000e-06
Name: roi_musd, dtype: float64

__Movies Top 5 - Most Votes__

In [17]:
highest_Values('vote_count')

0    14075.0
1    12269.0
2    12114.0
3    12000.0
4    11444.0
Name: vote_count, dtype: float64

__Movies Top 5 - Highest Rating__

In [18]:
highest_Values('vote_average')

0    10.0
1    10.0
2    10.0
3    10.0
4    10.0
Name: vote_average, dtype: float64

__Movies Top 5 - Lowest Rating__

In [19]:
lowest_Values('vote_average')

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: vote_average, dtype: float64

__Movies Top 5 - Most Popular__

In [20]:
highest_Values('popularity')

0    547.488298
1    294.337037
2    287.253654
3    228.032744
4    213.849907
Name: popularity, dtype: float64

## Find your next Movie

3. __Filter__ the Dataset for movies that meet the following conditions:

__Search 1: Science Fiction Action Movie with Bruce Willis (sorted from high to low Rating)__

__Search 2: Movies with Uma Thurman and directed by Quentin Tarantino (sorted from short to long runtime)__

__Search 3: Most Successful Pixar Studio Movies between 2010 and 2015 (sorted from high to low Revenue)__

__Search 4: Action or Thriller Movie with original language English and minimum Rating of 7.5 (most recent movies first)__

In [21]:
movies_df.head(2)

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,...,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director,profit_musd,roi_musd
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,...,81.0,"Led by Woody, Andy's toys live happily in his ...",English,<img src='http://image.tmdb.org/t/p/w185//uXDf...,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter,343.554033,12.451801
1,8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,65.0,262.797249,TriStar Pictures|Teitler Film|Interscope Commu...,...,104.0,When siblings Judy and Peter discover an encha...,English|Français,<img src='http://image.tmdb.org/t/p/w185//vgpX...,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,26,16,Joe Johnston,197.797249,4.043035

In [22]:
#movies_df['release_date'] = movies_df['release_date'].astype(object)
#movies_df['release_date']
#movies_df['release_year_date'] = movies_df['release_date'].apply(lambda x: x.split('-')[0])

#pd.to_datetime(movies_df['release_date'], format='%Y-%b-%d')

In [23]:
#print(movies_df['genres'].unique())
#print(movies_df['cast'].unique())

In [24]:
# Search 1
genres_mask = movies_df['genres'].str.contains('Science|Fiction|Action')
actors_mask = movies_df['cast'].str.contains('Bruce Willis')
movies_df[genres_mask & actors_mask]['vote_average'].sort_values(ascending=False).head(10)
#movies_df[genres_mask & actors_mask].nlargest(5, 'vote_average')

998      7.5
31       7.4
1448     7.3
9813     7.2
3836     6.9
162      6.9
1310     6.6
19218    6.6
15870    6.6
1786     6.5
Name: vote_average, dtype: float64

In [25]:
# Search 2
director_mask = movies_df['director'] == 'Quentin Tarantino'
actors_mask2 = movies_df['cast'].str.contains('Uma|Thurman')
#print(actors_mask)
movies_df[director_mask & actors_mask2]['runtime'].sort_values().head(10)
#movies_df[genres_mask & actors_mask].nlargest(5, 'vote_average')

6667    111.0
7208    136.0
291     154.0
Name: runtime, dtype: float64

In [26]:
# Search 3
movies_df['release_date'] = pd.to_datetime(movies_df['release_date'], format='%Y-%m-%d')

In [27]:
# Search 3
companies_mask = movies_df['production_companies'].str.contains('Pixar Studio')
years_mask1 = movies_df['release_date'].dt.year >= 2010
years_mask2 = movies_df['release_date'].dt.year <= 2015
new_movies_df = movies_df[years_mask1 & years_mask2]
#new_movies_df
#print(actors_mask)
new_movies_df[companies_mask]['revenue_musd'].sort_values(ascending=False).head(10)
#movies_df[genres_mask & actors_mask].nlargest(5, 'vote_average')

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [28]:
# Search 4
genres_mask2 = movies_df['genres'].str.contains('Action|Thriller')
language_mask = movies_df['original_language'] == 'en'
rating_mask = movies_df['vote_average'] == 7.5
movies_df[genres_mask2 & language_mask & rating_mask].head()

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,...,runtime,overview,spoken_languages,poster_path,cast,cast_size,crew_size,director,profit_musd,roi_musd
549,319,True Romance,"Stealing, Cheating, Killing. Who said romance ...",1993-09-09,Action|Thriller|Crime|Romance,NaN,en,12.5,12.281551,Davis-Films|August Entertainment|Warner Bros.|...,...,120.0,"Clarence marries hooker Alabama, steals cocain...",English|Italiano,<img src='http://image.tmdb.org/t/p/w185//AqlP...,Christian Slater|Patricia Arquette|Michael Rap...,40,39,Tony Scott,-0.218449,0.982524
664,27768,Some Folks Call It a Sling Blade,NaN,1994-03-26,Drama|Thriller,NaN,en,NaN,NaN,NaN,...,25.0,"25 years after committing a double murder, Kar...",NaN,<img src='http://image.tmdb.org/t/p/w185//xUeg...,Billy Bob Thornton|Molly Ringwald|J.T. Walsh,3,2,George Hickenlooper,NaN,NaN
912,1712,Giant,The legendary epic that's as big as Texas.,1956-10-10,Action|Drama|Western,NaN,en,5.4,35.000000,Warner Bros.,...,201.0,Sprawling epic covering the life of a Texas ca...,English|Español,<img src='http://image.tmdb.org/t/p/w185//vlwq...,Elizabeth Taylor|Rock Hudson|James Dean|Carrol...,31,14,George Stevens,29.600000,6.481481
998,562,Die Hard,40 Stories. Twelve Terrorists. One Cop.,1988-07-15,Action|Thriller,Die Hard Collection,en,28.0,140.767956,Twentieth Century Fox Film Corporation|Gordon ...,...,131.0,"NYPD cop, John McClane's plan to reconcile wit...",English|Deutsch|Italiano,<img src='http://image.tmdb.org/t/p/w185//aJCp...,Bruce Willis|Alan Rickman|Alexander Godunov|Bo...,47,75,John McTiernan,112.767956,5.027427
1048,792,Platoon,The first casualty of war is innocence.,1986-12-18,Drama|War|Action,NaN,en,6.0,138.530565,Orion Pictures|Hemdale Film Corporation,...,120.0,"As a young and naive recruit in Vietnam, Chris...",English|Tiếng Việt,<img src='http://image.tmdb.org/t/p/w185//8hDl...,Tom Berenger|Charlie Sheen|Willem Dafoe|Forest...,31,34,Oliver Stone,132.530565,23.088427

## Are Franchises more successful?

4. __Analyze__ the Dataset and __find out whether Franchises (Movies that belong to a collection) are more successful than stand-alone movies__ in terms of:

- mean revenue
- median Return on Investment
- mean budget raised
- mean popularity
- mean rating

hint: use groupby()

__Franchise vs. Stand-alone: Average Revenue__

In [29]:
movies_df.groupby('belongs_to_collection')['revenue_musd'].mean()

belongs_to_collection
... Has Fallen Collection               183.390043
00 Schneider Filmreihe                         NaN
08/15 Collection                               NaN
100 Girls Collection                           NaN
101 Dalmatians (Animated) Collection    215.880014
                                           ...
Сказки Чуковского                              NaN
Чебурашка и крокодил Гена                      NaN
Что Творят мужчины! (Коллекция)                NaN
男はつらいよ シリーズ                                    NaN
식객 시리즈                                         NaN
Name: revenue_musd, Length: 1691, dtype: float64

__Franchise vs. Stand-alone: Return on Investment / Profitability (median)__

In [30]:
movies_df.groupby('belongs_to_collection')['roi_musd'].median()

belongs_to_collection
... Has Fallen Collection                2.864804
00 Schneider Filmreihe                        NaN
08/15 Collection                              NaN
100 Girls Collection                          NaN
101 Dalmatians (Animated) Collection    53.970004
                                          ...
Сказки Чуковского                             NaN
Чебурашка и крокодил Гена                     NaN
Что Творят мужчины! (Коллекция)               NaN
男はつらいよ シリーズ                                   NaN
식객 시리즈                                        NaN
Name: roi_musd, Length: 1691, dtype: float64

__Franchise vs. Stand-alone: Average Budget__

In [31]:
movies_df.groupby('belongs_to_collection')['budget_musd'].mean()

belongs_to_collection
... Has Fallen Collection               65.0
00 Schneider Filmreihe                   NaN
08/15 Collection                         NaN
100 Girls Collection                     NaN
101 Dalmatians (Animated) Collection     4.0
                                        ...
Сказки Чуковского                        NaN
Чебурашка и крокодил Гена                NaN
Что Творят мужчины! (Коллекция)          2.0
男はつらいよ シリーズ                              NaN
식객 시리즈                                   NaN
Name: budget_musd, Length: 1691, dtype: float64

__Franchise vs. Stand-alone: Average Popularity__

In [32]:
movies_df.groupby('belongs_to_collection')['popularity'].mean()

belongs_to_collection
... Has Fallen Collection               13.008090
00 Schneider Filmreihe                   1.931299
08/15 Collection                         0.628127
100 Girls Collection                     3.078652
101 Dalmatians (Animated) Collection    13.063212
                                          ...
Сказки Чуковского                        0.731334
Чебурашка и крокодил Гена                0.881504
Что Творят мужчины! (Коллекция)          1.299605
男はつらいよ シリーズ                              0.038901
식객 시리즈                                   0.157245
Name: popularity, Length: 1691, dtype: float64

__Franchise vs. Stand-alone: Average Rating__

In [33]:
movies_df.groupby('belongs_to_collection')['vote_average'].mean()

belongs_to_collection
... Has Fallen Collection               6.00
00 Schneider Filmreihe                  6.50
08/15 Collection                        5.90
100 Girls Collection                    5.15
101 Dalmatians (Animated) Collection    6.25
                                        ...
Сказки Чуковского                       3.00
Чебурашка и крокодил Гена               6.70
Что Творят мужчины! (Коллекция)         3.15
男はつらいよ シリーズ                             7.00
식객 시리즈                                  4.95
Name: vote_average, Length: 1691, dtype: float64

## Most Successful Franchises

5. __Find__ the __most successful Franchises__ in terms of

- __total number of movies__
- __total & mean budget__
- __total & mean revenue__
- __mean rating__

In [34]:
import numpy as np

In [35]:
movies_df['belongs_to_collection'].value_counts()

The Bowery Boys                       29
Totò Collection                       27
James Bond Collection                 26
Zatôichi: The Blind Swordsman         26
The Carry On Collection               25
                                      ..
No Good Middle-Aged Yakuza Trilogy     1
Sami Swoi Collection                   1
Gone in 60 Seconds Trilogy             1
Welcome Collection                     1
White Collar Hooligan Collection       1
Name: belongs_to_collection, Length: 1691, dtype: int64

In [36]:
movies_df.groupby('belongs_to_collection')['budget_musd'].agg([np.sum, np.mean])

                                        sum  mean
belongs_to_collection
... Has Fallen Collection             130.0  65.0
00 Schneider Filmreihe                  0.0   NaN
08/15 Collection                        0.0   NaN
100 Girls Collection                    0.0   NaN
101 Dalmatians (Animated) Collection    4.0   4.0
...                                     ...   ...
Сказки Чуковского                       0.0   NaN
Чебурашка и крокодил Гена               0.0   NaN
Что Творят мужчины! (Коллекция)         2.0   2.0
男はつらいよ シリーズ                             0.0   NaN
식객 시리즈                                  0.0   NaN

[1691 rows x 2 columns]

In [37]:
movies_df.groupby('belongs_to_collection')['revenue_musd'].agg([np.sum, np.mean])

                                             sum        mean
belongs_to_collection
... Has Fallen Collection             366.780087  183.390043
00 Schneider Filmreihe                  0.000000         NaN
08/15 Collection                        0.000000         NaN
100 Girls Collection                    0.000000         NaN
101 Dalmatians (Animated) Collection  215.880014  215.880014
...                                          ...         ...
Сказки Чуковского                       0.000000         NaN
Чебурашка и крокодил Гена               0.000000         NaN
Что Творят мужчины! (Коллекция)         0.000000         NaN
男はつらいよ シリーズ                             0.000000         NaN
식객 시리즈                                  0.000000         NaN

[1691 rows x 2 columns]

In [38]:
movies_df.groupby('belongs_to_collection')['vote_average'].agg(np.sum)

belongs_to_collection
... Has Fallen Collection               12.0
00 Schneider Filmreihe                   6.5
08/15 Collection                         5.9
100 Girls Collection                    10.3
101 Dalmatians (Animated) Collection    12.5
                                        ...
Сказки Чуковского                        3.0
Чебурашка и крокодил Гена                6.7
Что Творят мужчины! (Коллекция)          6.3
男はつらいよ シリーズ                              7.0
식객 시리즈                                   9.9
Name: vote_average, Length: 1691, dtype: float64

## Most Successful Directors

6. __Find__ the __most successful Directors__ in terms of

- __total number of movies__
- __total revenue__
- __mean rating__

In [42]:
movies_df.groupby('director')['id'].sum()

director
 Dale Trevillion\t      137373
 Davide Manuli          124091
 E.W. Swackhamer         45377
 Vitaliy Vorobyov       231510
 Yeon Sang-Ho          1088738
                        ...
Ярополк Лапшин          376188
پیمان معادی             228407
塩谷 直義                   296917
杰森·莫玛                   268060
진모영                     306598
Name: id, Length: 17349, dtype: int64

In [43]:
movies_df.groupby('director')['revenue_musd'].sum()

director
 Dale Trevillion\t     0.000000
 Davide Manuli         0.000000
 E.W. Swackhamer       0.000000
 Vitaliy Vorobyov      0.000000
 Yeon Sang-Ho          2.129768
                         ...
Ярополк Лапшин         0.000000
پیمان معادی            0.000000
塩谷 直義                  0.000000
杰森·莫玛                  0.000000
진모영                    0.000000
Name: revenue_musd, Length: 17349, dtype: float64

In [41]:
movies_df.groupby('director')['vote_average'].mean()

director
 Dale Trevillion\t      4.0
 Davide Manuli          6.9
 E.W. Swackhamer        5.9
 Vitaliy Vorobyov       5.5
 Yeon Sang-Ho           6.6
                       ...
Ярополк Лапшин         10.0
پیمان معادی             6.0
塩谷 直義                   7.2
杰森·莫玛                   5.8
진모영                     6.0
Name: vote_average, Length: 17349, dtype: float64